<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Boom
    link(rel='shortcut icon' type='image/x-icon' href=favicon)
    each path in css
      link(rel='stylesheet' href=path)
  body.flex.justify-center.items-center.h-screen
    canvas#canvas(width='900' height='630'
      class=[
        'bg-[length:45px_45px]',
        'bg-repeat',
      ]
      style={
        'background-image': `url(${gameBg})`
      }
    )
    each path in js
      script(async src=path)